@import "../../assets/styles/vars/colors.less";

.Navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
}

.header {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}

.list {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: auto;
}